<div id="allSearch">
    {{#if count}}
    <h1>Showing {{count}} Similar College(s)</h1>
    {{else}} <h1>Sorry! No results found</h1>
    {{/if}}
    <div id="searchColleges">
        {{#each data}}
        <div class="searchCollegeCard">
            <div class="searchCollegeInfo">
                <h3>{{this.College_Name}}</h3>
                <p>{{this.State}} | {{this.Stream}}</p>
                <p><b>UG fees: </b>{{this.UG_fee}} Rs. | <b>PG fees: </b>{{this.PG_fee}} Rs.</p>
            </div>
            <div class="searchCollegeStatsContainer">
                <div class="searchCollegeStats">
                    <div class="searchCollegeSubject">Rating</div>
                    <div class="searchCollegeProgress-bar" value="{{this.Rating}}">
                        <div class="searchCollegeProgress-line" style="max-width: calc({{this.Rating}}*10%)"></div>
                    </div>
                </div>
                <div class="searchCollegeStats">
                    <div class="searchCollegeSubject">Academic</div>
                    <div class="searchCollegeProgress-bar" value="{{this.Academic}}">
                        <div class="searchCollegeProgress-line" style="max-width: calc({{this.Academic}}*10%)"></div>
                    </div>
                </div>
                <div class="searchCollegeStats">
                    <div class="searchCollegeSubject">Accommodation</div>
                    <div class="searchCollegeProgress-bar" value="{{this.Accommodation}}">
                        <div class="searchCollegeProgress-line" style="max-width: calc({{this.Accommodation}}*10%)">
                        </div>
                    </div>
                </div>
                <div class="searchCollegeStats">
                    <div class="searchCollegeSubject">Faculty</div>
                    <div class="searchCollegeProgress-bar" value="{{this.Faculty}}">
                        <div class="searchCollegeProgress-line" style="max-width: calc({{this.Faculty}}*10%)"></div>
                    </div>
                </div>
                <div class="searchCollegeStats">
                    <div class="searchCollegeSubject">Infrastructure</div>
                    <div class="searchCollegeProgress-bar" value="{{this.Infrastructure}}">
                        <div class="searchCollegeProgress-line" style="max-width: calc({{this.Infrastructure}}*10%)">
                        </div>
                    </div>
                </div>
                <div class="searchCollegeStats">
                    <div class="searchCollegeSubject">Placement</div>
                    <div class="searchCollegeProgress-bar" value="{{this.Placement}}">
                        <div class="searchCollegeProgress-line" style="max-width: calc({{this.Placement}}*10%)"></div>
                    </div>
                </div>
                <div class="searchCollegeStats">
                    <div class="searchCollegeSubject">Social_Life</div>
                    <div class="searchCollegeProgress-bar" value="{{this.Social_Life}}">
                        <div class="searchCollegeProgress-line" style="max-width: calc({{this.Social_Life}}*10%)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>